@media screen and (max-width: 768px){
    h1{
        font-size:29px;
    }
    h2{
        font-size:36px;
        margin:6% auto 2%;
    }
    p{
        font-size:17px;
    }
    .section-3{
        padding-top: 12%;
    }
    .section-1{
        padding: 0 0 10%;
    }
    .section-2{
        padding: 15% 0;
    }
    input[type=submit]{
        width:100%;
    }
    .copyright{
        float: left;
    }
    .footer-section{
        background-position:center;
    }
    .header-background{
        position:fixed;
        width:100%;
        top:0px;
        height: 111px;
        z-index:10;
    }
    body{
        margin-top:111px;
    }
    .contact-us-btn{
        margin:0 auto;
    }
    .highlight-mobile{
        background-color: rgba(255, 255, 255, 0.5);
    }
    .logo{
        margin:5% auto;
    }
}
@media screen and (max-width: 1190px) {
    .contact-us-btn{
        margin:8% auto;
    }
    
}
@media screen and (max-width: 425px) {
    .call-button{
        padding: 0px !important;
    }
}